<form [formGroup]="form" (ngSubmit)="onSubmit()" [class.submitted]="isSubmitted">
  <h1 class="form-title">Token</h1>
  <p class="form-text">Create your own crypto token</p>
  <div class="form-field">
    <label for="company">Company</label>
    <select id="company" formControlName="company" name="company" required>
      <option value="My company" [selected]="true">My company</option>
      <option value="First company">First company</option>
      <option value="Second company">Second company</option>
      <option value="Third company">Third company</option>
    </select>
  </div>

  <div class="form-field">
    <label for="token">Token name</label>
    <input type="text" id="token" name="token" formControlName="token" required />
    <div *ngIf="isSubmitted && form.controls['token'].errors" class="error-message">
      <div *ngIf="form.controls['token'].errors['required']">Token name is required.</div>
    </div>
  </div>
  <div class="form-field">
    <label for="symbol">Symbol</label>
    <input type="text" id="symbol" name="symbol" formControlName="symbol" required />
    <div *ngIf="isSubmitted && form.controls['symbol'].errors" class="error-message">
      <div *ngIf="form.controls['symbol'].errors['required']">Symbol is required.</div>
    </div>
  </div>
  <div class="form-field">
    <label for="supply">Maximum token supply</label>
    <input type="text" id="supply" name="supply" formControlName="supply" required />
    <div *ngIf="form.controls['supply'].errors" class="error-message">
      <div *ngIf="isSubmitted && form.controls['supply'].errors['required']">
        Maximum token supply is required.
      </div>
      <div *ngIf="form.controls['supply'].errors['pattern']">Supply must be a number.</div>
    </div>
  </div>
  <div class="form-field">
    <label>Blockchain</label>
    <div class="blockchain">
      <button
        type="button"
        id="ethereum"
        class="radio-button"
        [class.checked]="form.controls['chain'].value === 'Ethereum'"
        (click)="form.controls['chain'].setValue('Ethereum')"
      >
        Ethereum
      </button>

      <button
        type="button"
        id="binance"
        class="radio-button"
        [class.checked]="form.controls['chain'].value === 'Binance Smart Chain'"
        (click)="form.controls['chain'].setValue('Binance Smart Chain')"
      >
        Binance Smart Chain
      </button>
    </div>
  </div>

  <div class="form-field">
    <label>Supply</label>
    <div class="supply">
      <input
        type="checkbox"
        id="enabled"
        value="enabled"
        name="isEnabled"
        formControlName="isEnabled"
        [checked]="true"
      />
      <label for="enabled">Enabled</label>
    </div>
  </div>

  <button type="submit" class="button">SAVE DRAFT</button>
</form>
